Debug/
DBI.vcxproj.user
DBI.vcxproj.filters
DBI.sln
.vs/DBI/v15/ipch/AutoPCH/d3fc81a56e19ba/TEST.ipch
.vs/DBI/v15/ipch/AutoPCH/d05745c155367e28/PIPE.ipch
.vs/DBI/v15/ipch/AutoPCH/a21d5501c9b06f41/BIGQ.ipch
.vs/DBI/v15/Browse.VC.db
.vs/DBI/v15/.suo
.tracecompass/.project
.settings/language.settings.xml
.cproject
.project
DBI.vcxproj
.vs/DBI/v15/Browse.VC.opendb
.vs/
*.txt
*.bin
*.o
